*.tar.gz
*.tar.xz
*.deb
*.buildinfo
*.changes
*.dsc
.pnpm-debug.log
Packages
Release
staging/
.DS_Store
/node_modules
*.manifest
*.tgz
/beta/node_modules
beta/README.md
/beta/32bit/node_modules
/beta/64bit/node_modules

# Test output files
changelog-test.md
*-test.md
