polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.resolve1.register-service" ||
         action.id == "org.freedesktop.resolve1.unregister-service") &&
        subject.isInGroup("homebridge")) {
        return polkit.Result.YES;
    }
});
