Source: homebridge
Section: test
Priority: optional
Maintainer: oznu <dev@oz.nu>
Build-Depends: debhelper (>=9.0.0),
               dh-systemd (>= 1.5)
Standards-Version: 4.0.0

Package: homebridge
Pre-Depends: libc6 (>= 2.23), jq (>= 1.4), openssl, psmisc, make, gcc, g++, python3, net-tools
Architecture: any
Description: HomeKit support for the impatient.