Source: homebridge
Section: test
Priority: optional
Maintainer: oznu <dev@oz.nu>
Build-Depends: debhelper (>=9.0.0),
               dh-systemd (>= 1.5)
Standards-Version: 4.0.0

Package: homebridge
Pre-Depends: libc6 (>= 2.24)
Architecture: any
Description: HomeKit support for the impatient.