[Unit]
Description=Homebridge
Wants=network-online.target
After=syslog.target network-online.target

[Service]
User=homebridge
Type=simple
WorkingDirectory=/var/lib/homebridge
ExecStart=/usr/lib/homebridge/start.sh
Restart=always
RestartSec=3
KillMode=process

[Install]
Alias=homebridge
WantedBy=multi-user.target
